body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
    color: #fff;
}

section {
    text-align: center;
}

.instant-photo {
    margin: 15px 0;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
}

.instant-photo .caption {
    color: #000;
}

.instant-photo img {
    width: 100%;
}

main {
    width: 40%;
    max-width: 900px;
    min-width: 260px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    border-radius: 10px;
    outline: 2px solid #b03bbf;
    border: 0;
    padding: 10px 1rem;
    background: none;
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.outer-border {
    word-break: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    --v-theme-overlay-multiplier: 1;
    --color-pink: #f25e95;
    --color-purple: #b03bbf;
    --color-blue: #5234bf;
    --color-yellow: #fffb96;
    --color-red: #f24535;
    --color-lightblue: #61f2ff;
    --home-color: #fec859ff;
    --home-background-color-solid: #491d88ff;
    --blog-color: #fa448cff;
    --blog-background-color-solid: #331a38ff;
    --sponsors-color: #491d88ff;
    --sponsors-background-color-solid: #43b5a0ff;
    --tickets-color: #491d88ff;
    --tickets-background-color-solid: #fa448cff;
    --home-background-color: #491d88aa;
    --blog-background-color: #331a38aa;
    --sponsors-background-color: #43b5a055;
    line-height: inherit;
    font-family: "Source Sans 3", sairaregular, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    color: rgba(var(--v-theme-on-background), var(--v-high-emphasis-opacity));
    --v-scrollbar-offset: inherit;
    color-scheme: dark;
    --v-theme-background: 0, 0, 0;
    --v-theme-background-overlay-multiplier: 1;
    --v-theme-surface: 33, 33, 33;
    --v-theme-surface-overlay-multiplier: 1;
    --v-theme-surface-bright: 204, 191, 214;
    --v-theme-surface-bright-overlay-multiplier: 2;
    --v-theme-surface-light: 66, 66, 66;
    --v-theme-surface-light-overlay-multiplier: 1;
    --v-theme-surface-variant: 200, 200, 200;
    --v-theme-surface-variant-overlay-multiplier: 2;
    --v-theme-on-surface-variant: 0, 0, 0;
    --v-theme-primary: 73, 29, 136;
    --v-theme-primary-overlay-multiplier: 1;
    --v-theme-primary-darken-1: 39, 124, 193;
    --v-theme-primary-darken-1-overlay-multiplier: 2;
    --v-theme-secondary: 254, 200, 89;
    --v-theme-secondary-overlay-multiplier: 2;
    --v-theme-secondary-darken-1: 72, 169, 166;
    --v-theme-secondary-darken-1-overlay-multiplier: 2;
    --v-theme-error: 255, 82, 82;
    --v-theme-error-overlay-multiplier: 2;
    --v-theme-info: 33, 150, 243;
    --v-theme-info-overlay-multiplier: 2;
    --v-theme-success: 82, 52, 191;
    --v-theme-success-overlay-multiplier: 1;
    --v-theme-warning: 255, 193, 7;
    --v-theme-warning-overlay-multiplier: 2;
    --v-theme-accent: 250, 68, 140;
    --v-theme-accent-overlay-multiplier: 2;
    --v-theme-on-background: 255, 255, 255;
    --v-theme-on-surface: 255, 255, 255;
    --v-theme-on-surface-bright: 0, 0, 0;
    --v-theme-on-surface-light: 255, 255, 255;
    --v-theme-on-primary: 255, 255, 255;
    --v-theme-on-primary-darken-1: 255, 255, 255;
    --v-theme-on-secondary: 0, 0, 0;
    --v-theme-on-secondary-darken-1: 255, 255, 255;
    --v-theme-on-error: 255, 255, 255;
    --v-theme-on-info: 255, 255, 255;
    --v-theme-on-success: 255, 255, 255;
    --v-theme-on-warning: 0, 0, 0;
    --v-theme-on-accent: 255, 255, 255;
    --v-border-color: 255, 255, 255;
    --v-border-opacity: 0.12;
    --v-high-emphasis-opacity: 1;
    --v-medium-emphasis-opacity: 0.7;
    --v-disabled-opacity: 0.5;
    --v-idle-opacity: 0.1;
    --v-hover-opacity: 0.04;
    --v-focus-opacity: 0.12;
    --v-selected-opacity: 0.08;
    --v-activated-opacity: 0.12;
    --v-pressed-opacity: 0.16;
    --v-dragged-opacity: 0.08;
    --v-theme-kbd: 66, 66, 66;
    --v-theme-on-kbd: 255, 255, 255;
    --v-theme-code: 52, 52, 52;
    --v-theme-on-code: 204, 204, 204;
    --v-layout-left: 0px;
    --v-layout-right: 0px;
    --v-layout-top: 100px;
    --v-layout-bottom: 0px;
    --header-color: var(--color-yellow);
    --content-color: var(--color-lightblue);
    --link-color: var(--color-pink);
    direction: ltr;
    background-repeat: no-repeat;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    box-sizing: border-box;
    position: relative;
    margin: 15px;
    border-radius: 30px;
    border-width: 4px;
    border-style: solid;
    border-color: var(--color-lightblue);
    padding: 8px;
    box-shadow: 0 0 20px var(--color-lightblue);
}

.inner-border {
    word-break: normal;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
    --v-theme-overlay-multiplier: 1;
    --color-pink: #f25e95;
    --color-purple: #b03bbf;
    --color-blue: #5234bf;
    --color-yellow: #fffb96;
    --color-red: #f24535;
    --color-lightblue: #61f2ff;
    --home-color: #fec859ff;
    --home-background-color-solid: #491d88ff;
    --blog-color: #fa448cff;
    --blog-background-color-solid: #331a38ff;
    --sponsors-color: #491d88ff;
    --sponsors-background-color-solid: #43b5a0ff;
    --tickets-color: #491d88ff;
    --tickets-background-color-solid: #fa448cff;
    --home-background-color: #491d88aa;
    --blog-background-color: #331a38aa;
    --sponsors-background-color: #43b5a055;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    font-size: 2em;
    --v-scrollbar-offset: inherit;
    color-scheme: dark;
    --v-theme-background: 0, 0, 0;
    --v-theme-background-overlay-multiplier: 1;
    --v-theme-surface: 33, 33, 33;
    --v-theme-surface-overlay-multiplier: 1;
    --v-theme-surface-bright: 204, 191, 214;
    --v-theme-surface-bright-overlay-multiplier: 2;
    --v-theme-surface-light: 66, 66, 66;
    --v-theme-surface-light-overlay-multiplier: 1;
    --v-theme-surface-variant: 200, 200, 200;
    --v-theme-surface-variant-overlay-multiplier: 2;
    --v-theme-on-surface-variant: 0, 0, 0;
    --v-theme-primary: 73, 29, 136;
    --v-theme-primary-overlay-multiplier: 1;
    --v-theme-primary-darken-1: 39, 124, 193;
    --v-theme-primary-darken-1-overlay-multiplier: 2;
    --v-theme-secondary: 254, 200, 89;
    --v-theme-secondary-overlay-multiplier: 2;
    --v-theme-secondary-darken-1: 72, 169, 166;
    --v-theme-secondary-darken-1-overlay-multiplier: 2;
    --v-theme-error: 255, 82, 82;
    --v-theme-error-overlay-multiplier: 2;
    --v-theme-info: 33, 150, 243;
    --v-theme-info-overlay-multiplier: 2;
    --v-theme-success: 82, 52, 191;
    --v-theme-success-overlay-multiplier: 1;
    --v-theme-warning: 255, 193, 7;
    --v-theme-warning-overlay-multiplier: 2;
    --v-theme-accent: 250, 68, 140;
    --v-theme-accent-overlay-multiplier: 2;
    --v-theme-on-background: 255, 255, 255;
    --v-theme-on-surface: 255, 255, 255;
    --v-theme-on-surface-bright: 0, 0, 0;
    --v-theme-on-surface-light: 255, 255, 255;
    --v-theme-on-primary: 255, 255, 255;
    --v-theme-on-primary-darken-1: 255, 255, 255;
    --v-theme-on-secondary: 0, 0, 0;
    --v-theme-on-secondary-darken-1: 255, 255, 255;
    --v-theme-on-error: 255, 255, 255;
    --v-theme-on-info: 255, 255, 255;
    --v-theme-on-success: 255, 255, 255;
    --v-theme-on-warning: 0, 0, 0;
    --v-theme-on-accent: 255, 255, 255;
    --v-border-color: 255, 255, 255;
    --v-border-opacity: 0.12;
    --v-high-emphasis-opacity: 1;
    --v-medium-emphasis-opacity: 0.7;
    --v-disabled-opacity: 0.5;
    --v-idle-opacity: 0.1;
    --v-hover-opacity: 0.04;
    --v-focus-opacity: 0.12;
    --v-selected-opacity: 0.08;
    --v-activated-opacity: 0.12;
    --v-pressed-opacity: 0.16;
    --v-dragged-opacity: 0.08;
    --v-theme-kbd: 66, 66, 66;
    --v-theme-on-kbd: 255, 255, 255;
    --v-theme-code: 52, 52, 52;
    --v-theme-on-code: 204, 204, 204;
    --v-layout-left: 0px;
    --v-layout-right: 0px;
    --v-layout-top: 100px;
    --v-layout-bottom: 0px;
    --header-color: var(--color-yellow);
    --content-color: var(--color-lightblue);
    --link-color: var(--color-pink);
    direction: ltr;
    background-repeat: no-repeat;
    margin: 0;
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
    box-sizing: border-box;
    border-radius: 20px;
    border-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-style: solid;
    border-color: var(--color-pink);
    padding: .5rem;
    text-align: center;
    background-color: #0009;
    box-shadow: inset 0 0 20px var(--color-pink), 0 0 20px var(--color-pink);
    font-family: Beon;
    position: relative;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 1px var(--header-color);
    text-shadow: 0 0 10px color-mix(in srgb, var(--header-color) 80%, transparent), 0 0 20px color-mix(in srgb, var(--header-color) 50%, transparent);
    --tw-backdrop-blur: blur(30px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}